.header {
    margin-top: 10px;
    padding: 20px;
    box-shadow: 0 0 7px 1px rgb(230, 229, 229);
    display: flex;
    justify-content: space-between;

    &__nav {
        display: flex;
        column-gap: 10px;
    }
}