.layout {
    &__container {
        width: 100vw;
        height: 100vh;
        position: relative;
        top: 0;
        left: 0;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        background-color: var(--background-color);

        .main__container {
            flex: 1 1 auto;
        }
    }

    
}